         @font-face {
         font-family: "GothamBold";
         src: url("GothamBold.ttf"); /*this path indicates that the .ttf file is in the folder called font*/
        }
        /*Basic information about the whole webpage, adjusting the font and background color*/
         body {
         margin: 0;
         padding: 0;
         font-family: "GothamBold";
         background-color: rgb(88, 6, 140);
         }

         /*Editing the heading, making it sticky, changing the 
         background color, font size and positioning the text in the center*/
         h1 {
         text-align: center;
         justify-content: center; 
         align-items: center;
         width: 100%;
         margin: 0;
         padding: 0;
         height: 5vh;
         position: sticky;
         top: 0;
         background-color: rgb(255,255,255, .4) ;
         color: white;
         font-size: 40px;
         }

         /*Information about the anchors, how they should react in different situations
          for example when we hover over them or click them*/
         a:link { text-decoration: none; color:rgb(88, 6, 140)} 
         a:visited {color: rgb(88, 6, 140)} 
         a:hover {color:white;} 
         a:active {color:rgb(88, 6, 140)} 

         /*Small adjustments to the first part of the page, centering it*/
         .Page1 {
          display: flex;
          align-items: center;
          justify-content: center;
         }
         
        /*Centering the text, aligning content in the middle and making text white*/
         .Page2 {
         font-weight: bold;
         font-size: 50px;
         text-align: center;   
         color: white;   
         justify-content: center; 
         align-items: center;
         }

        /*Similar to page 2*/
         .Page3 {
          font-weight: bold;
         font-size: 50px;
         text-align: center;   
         color: white;   
         }
         /*A little bit more work than the other pages, 
         creating a grid so i can place the text and photos next to eachother, 
         some padding from both sides and a gap between the text and the pictures,
         little editiong on the text and the pictures, making them round*/

         .Aboutus {
          padding-left: 10vw;
          padding-right: 10vw;
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          column-gap: 40px;
               }

        .Aboutpicture {
          margin-top: 40px;
          border-radius: 10%;
          overflow: hidden;
          border-color: white;
          border-width: 3px;
          }

        .abouttext {
        text-align: left;
        font-size: 25px;
        color: white;
        visibility: hidden;
     }

         /*Page 4 not finishedd*/
         .Page4 {
         text-align: center;
         font-weight: bold;
         font-size: 50px; 
         color: white;   
         }
         
         .info {
          font-size: 30px;
          font-weight: thin;
         }
         


         .fields {
          padding-left: 15vw;
          padding-right: 15vw;
          display: inline-block;
         }
          
         


         

         


         

        